// Custom.scss
// Option A: Include all of Bootstrap

@import "./vendor/scss/bootstrap";

// Add custome code after this

.entry-title {
    display: none;
    }

body{
    background-color: hsl(0, 0%, 100%);
}

ul.menu {
    padding: 0;
}
.menu li{
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 1rem;
}