.wp-block-quote {
    color: #707070;
}

.wp-block-quote.is-style-mpk-quote {
    color: #e18130;
}

<<<<<<< HEAD
h1, h2, h3, h4, h5, h6 {
    font-family:  Oswald, sans-serif;
}

p, .wp-block-quote__citation, .entry-meta, .entry-footer, .main-navigation {
    font-family: Roboto, sans-serif;
}

a {
    color: #2b5440;
}

.wp-block-preformatted {
    font-family: Roboto, sans-serif;
}

thead, caption {
    font-family:  Oswald, sans-serif;
}

tbody, figcaption, .wp-block-archives, .wp-block-categories,.wp-block-latest-comments, .wp-block-latest-posts, .wp-block-pages-list__item, .wp-block-search__label, .wp-block-search__inside-wrapper{
    font-family: Roboto, sans-serif;
}

.wp-block-archives, .wp-block-categories__list, .wp-block-pages-list__item, .page_item {
    list-style: none;
}

=======
.entry-content > *{
    width: 1364px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    width: 1640px;
    margin-left: auto;
    margin-right: auto;
}

.alignfull {
    width: 100%;
}

body {
    --wp--preset--font-family--roboto: Roboto,sans-serif;
    --wp--preset--font-family--oswald: Oswald, sans-serif;
}
>>>>>>> GlobalStyles
